<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django-Quiz</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="base.css" />
  </head>
  <body>
    <div class="name">
      <header class="logo">Django Quiz</header>
    </div>

    <div class="box">
      <div class="container-md loginform">
       <h4 class="signstudent">Sign Up </h4>
         <form class="row g-3">
  <div class="col-md-12">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-12">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Re-Enter Password</label>
    <input type="text" class="form-control" id="inputAddress2" >
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
 
  <div class="col-md-6">
    <label for="inputZip" class="form-label">State</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
   
  
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
      </div>
    </div>
  </body>
</html>
